body {
	margin: 0;
	min-width: 596px;
}
.box {
	width: 596px;
	height: 596px;
	max-width: 596px;
	/*height: 100vh;*/
	/*height: 700px;*/
	/*padding-top: 100%;*/
	margin: 0 auto;
	background: url("../images/alti.jpg") no-repeat;
	position: relative;
	background-size: contain;
}
.arrow {
	height: 230px;
	width: 2px;
	background: #000;
	position: absolute;
	left: 50%;
	top: 117px;
	margin-left: 3px;
	transform-origin: bottom left;
	transition: all 50ms linear;

	top: 163px;
	margin-left: -25px;
	transform-origin: 30px 185px;
	background: url("../images/arrow.png");
	width: 58px;
	height: 280px;
}
button {
	position: absolute;
	top: 10px;
	left: 10px;
}